*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.banner_title{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    text-align: right;
    padding-right: 230px;
    padding-top: 120px;
    padding-left: 700px;
}
.about_banner{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    text-align: right;
    padding-right: 230px;
    padding-top: 24px;
    padding-left: 900px;
}
.banner_contact{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.banner_contact_alignment{
    display: flex;
    justify-content: right;
    margin-top: 32px;
    margin-right: 230px;
}