*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}
/*webpage banner */
.banner{
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.banner_title{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    text-align: right;
    padding-right: 230px;
    padding-top: 120px;
    padding-left: 700px;
}
.about_banner{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    text-align: right;
    padding-right: 230px;
    padding-top: 24px;
    padding-left: 900px;
}
.banner_contact{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.banner_contact_alignment{
    display: flex;
    justify-content: right;
    margin-top: 32px;
    margin-right: 230px;
}
/* failure section */
.failure{
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 215px;
    padding-top: 131px;
}
.failure_cause{
padding-left: 120px;
padding-top: 250px;
padding-bottom: 80px;
}
.failure_cause_title{
    font-weight: 700;
    font-size: 40px;
    font-weight: 900;
    font-size: 40px;
}
.failure_cause_summary{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-top: 24px;
}
.failure_cause_list{
    padding-top: 24px;
}
li{
   list-style-position:inside;
   list-style-image: url('../images/icons/tick.png');
   padding-top: 8px;
   color: #444343;
}
/* plan */
.plan{
   margin-top: 150px;
   padding: 200px;
}
.plan_icon{
margin-top: 30px;
margin-left: 33px;
}
.plan_title_head{
   font-weight: bolder;
   font-size: 60px;
   color: #151414;
   text-align: center;  
}
.plan_title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 10px;
}
.my_plan{
    display: flex;
    justify-content: space-between;
}
.idea{
    margin-top: 70px;
}
.plan_description{
    margin-top: 16px;
    padding-left: 29px;
}
/* contact*/
.contact_call_background{
    margin-bottom: 60px;
    border-radius: 8px;
    margin-left: 250px;
    width:800px;
    height: 200px;
    padding: 80px;
    background-image: linear-gradient(to right , #ec5215, rgb(80, 194, 86));
}
.small_motivation{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-right: 350px;
}
.call_button{
    margin-top: 24px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border-radius: 5px;
    border:none;
}