/* universal style */

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}
/*webpage banner */

.banner{
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.banner_title{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    text-align: right;
    padding-right: 150px;
    padding-top: 120px;
    padding-left: 700px;
}
.about_banner{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    text-align: right;
    padding-right: 150px;
    padding-top: 24px;
    padding-left: 900px;
}
.banner_contact{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.banner_contact_alignment{
    display: flex;
    justify-content: right;
    margin-top: 32px;
    margin-right: 150px;
}

/* how to be successful */
.success{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 131px;
}
.success_image{
    height: 468px;
    width: 623.3px;
    border-radius: 5px;
}
.success_cause{
    margin-left: 120px;
    margin-top: 50px;
    margin-right: 80px;
}
.success_cause_title{
    font-weight: 900;
    font-size: 40px;
 }
.success_cause_summary{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}
.success_cause_list{
    margin-top: 24px;
} 
li{
    list-style-position:inside;
    list-style-image: url('../images/icons/tick.png');
    margin-top: 8px;
    color: #444343;
}   

/* failure section */

.failure{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 131px;
}
.failure_cause{
margin-left: 120px;
margin-top: 80px;
}
.failure_cause_title{
    font-weight: 900;
    font-size: 40px;
}
.failure_cause_summary{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}
.failure_cause_list{
    margin-top: 24px;
}

/* plan */

.plan{
   margin-top: 100px;
   padding: 200px;
}
.plan_icon{
margin-top: 30px;
margin-left: 33px;
}
.plan_title_head{
   font-weight: bolder;
   font-size: 60px;
   color: #151414;
   text-align: center;  
}
.plan_title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 10px;
}
.my_plan{
    display: flex;
    justify-content: space-between;
}
.idea{
    margin-top: 70px;
}
.plan_description{
    margin-top: 16px;
    padding-left: 29px;
}
/* contact*/
.contact_call_background{
    border-radius: 8px;
    margin-left: 220px;
    width:700px;
    height:100px;
    padding: 100px;
    background-image: linear-gradient(to right , #ec5215, rgb(80, 194, 86));
}
.small_motivation{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-right: 350px;
}
.call_button{
    margin-top: 24px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border-radius: 5px;
    border:none;
}